@import "variables";
@import "custom-theme";

html,
body {
  height: 100%;
  background-color: var(--background);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}

a {
  text-decoration: none;
  color: var(--primary);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--primary);
  }
}

.card {
  background-color: var(--card);
  color: var(--card-foreground);
  border: 1.5px solid var(--border);
  border-radius: var(--radius);
}
