<button mat-flat-button color="primary" (click)="toggle()">Altera tema</button>
<button mat-flat-button color="accent">secundario</button>
<button mat-flat-button color="warn">warn</button>
<div class="card">
  chat 1\
  <mat-form-field class="changed-input" appearance="outline">
    <input matInput>
  </mat-form-field>
</div>
<div class="card">
  {{themeService.currentTheme()}}
</div>
<a href="http:/youtube.com.br">LINK TESTE</a>

<mat-toolbar color="primary">

  <span>My App</span>
  <span class="example-spacer"></span>

</mat-toolbar>